<?xml version="1.0"?>
<robot name="quadrotor">
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0.0"/>
      <geometry>
        <box size="0.4 0.4 0.025"/>
      </geometry>
      <material name="White">
        <color rgba="1 1 1 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.5 0.5 0.5"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.2"/>
      <inertia ixx="0.013" ixy="0.0" ixz="0.0" iyy="0.014" iyz="0.0" izz="0.013"/>
    </inertial>
  </link>
  <link name="front_left_prop">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.07"/>
        <!-- <box size="0.1 0.1 0.07"/> -->
      </geometry>
      <material name="Orange">
        <color rgba="1 0.423 0.03921568627 1.0"/>
      </material>
    </visual>
    <inertial>
      <mass value="0.01"/>
      <inertia ixx="0.000001" ixy="0.0" ixz="0.0" iyy="0.000001" iyz="0.0" izz="0.000001"/>
    </inertial>
  </link>
  <link name="front_right_prop">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
      <!-- <box size="0.1 0.1 0.07"/> -->
        <cylinder radius="0.05" length="0.07"/>
      </geometry>
      <material name="Orange">
        <color rgba="1.0 0.423 0.03921568627 1.0"/>
      </material>
    </visual>
    <inertial>
      <mass value="0.01"/>
      <inertia ixx="0.000001" ixy="0.0" ixz="0.0" iyy="0.000001" iyz="0.0" izz="0.000001"/>
    </inertial>
  </link>
  <link name="back_left_prop">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
      <!-- <box size="0.1 0.1 0.07"/> -->
        <cylinder radius="0.05" length="0.07"/>
      </geometry>
      <material name="Blue">
        <color rgba="0 0 1 1.0"/>
      </material>
    </visual>
    <inertial>
      <mass value="0.01"/>
      <inertia ixx="0.000001" ixy="0.0" ixz="0.0" iyy="0.000001" iyz="0.0" izz="0.000001"/>
    </inertial>
  </link>
  <link name="back_right_prop">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
      <!-- <box size="0.1 0.1 0.07"/> -->
        <cylinder radius="0.05" length="0.07"/>
      </geometry>
      <material name="Blue">
        <color rgba="0 0 1 1.0"/>
      </material>
    </visual>
    <inertial>
      <mass value="0.01"/>
      <inertia ixx="0.000001" ixy="0.0" ixz="0.0" iyy="0.000001" iyz="0.0" izz="0.000001"/>
    </inertial>
  </link>
  <joint name="base_link_to_front_left_prop" type="fixed" dont_collapse="true">    
    <parent link="base_link"/>    
    <child link="front_left_prop"/>    
    <origin xyz="0.100 0.100 0"/>  
  </joint>
  <joint name="base_link_to_front_right_prop" type="fixed" dont_collapse="true">    
    <parent link="base_link"/>    
    <child link="front_right_prop"/>    
    <origin xyz="0.100 -0.100 0"/>
  </joint>
  <joint name="base_link_to_back_right_prop" type="fixed" dont_collapse="true">    
    <parent link="base_link"/>    
    <child link="back_right_prop"/>    
    <origin xyz="-0.100 -0.100 0"/> 
  </joint>
  <joint name="base_link_to_back_left_prop" type="fixed" dont_collapse="true">    
    <parent link="base_link"/>    
    <child link="back_left_prop"/>    
    <origin xyz="-0.100 0.100 0"/> 
  </joint>
</robot>
