# for building the docs
sphinx-book-theme==1.0.1
myst-parser
sphinxcontrib-bibtex==2.5.0
autodocsumm
sphinx-copybutton
sphinx-icon
sphinx_design
sphinxemoji
sphinx-tabs # backwards compatibility for building docs on v1.0.0
sphinx-multiversion==0.2.4

# basic python
numpy
matplotlib
warp-lang
# learning
gymnasium
