<?xml version="1.0"?>
<robot name="simple_fly_wheel" xmlns:xacro="http://www.ros.org/wiki/xacro">
   <xacro:arg name="wheel_mass" default="2" />
   <xacro:arg name="wheel_radius" default="2" />
   <xacro:property name="wheel_mass" value="$(arg wheel_mass)" />
   <xacro:property name="wheel_radius" value="$(arg wheel_radius)" />
   <xacro:property name="axis_inertia" value="${0.5 * wheel_mass * (wheel_radius ** 2.0)}"/>
   <link name="world">
        <inertial>
            <origin xyz="0.0 0.0 0" rpy="0.0 0.0 0.0"/>
            <mass value="0.001"/>
            <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001"/>
        </inertial>
    </link>
    <link name="base">
        <inertial>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <mass value="1"/>
         </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="0.1 0.5 5"/>
            </geometry>
            <material name="blue">
                <color rgba="0.0 0.0 0.8 1.0"/>
            </material>
        </visual>
    </link>
    <link name="axle">
        <inertial>
            <origin xyz="0 0 0" rpy="0.0 0.0 0.0"/>
            <mass value="0.000001"/>
         </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <cylinder length="0.6" radius="0.01"/>
            </geometry>
            <material name="red">
                <color rgba="0.8 0.0 0.0 1.0"/>
            </material>
        </visual>
    </link>
    <link name="flywheel">
        <inertial>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <mass value="${wheel_mass}"/>
            <inertia ixx="${0.5 * axis_inertia}" ixy="0" ixz="0" iyy="${0.5 * axis_inertia}" iyz="0" izz="${axis_inertia}" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <cylinder length="0.4" radius="${wheel_radius}"/>
            </geometry>
            <material name="gray">
                <color rgba="0.5 0.5 0.5 1.0"/>
            </material>
        </visual>
    </link>
    <joint name="world" type="fixed">
        <parent link="world"/>
        <child link="base"/>
        <origin xyz="0.0 0.0 2.5" rpy="0.0 0.0 0.0"/>
    </joint>
    <joint name="axle" type="fixed">
        <parent link="base"/>
        <child link="axle"/>
        <origin xyz="0.25 0.0 2" rpy="-1.570796327 0.0 -1.570796327"/>
    </joint>
    <joint name="wheel" type="revolute">
        <parent link="axle"/>
        <child link="flywheel"/>
        <origin xyz="0.0 0.0 .1" rpy="0 0 0"/>
        <axis xyz="0.0 0.0 1.0"/>
    </joint>
</robot>
