# for building the docs
importlib-metadata==4.11.3
Jinja2==3.0.3
Sphinx==4.5.0
sphinx-book-theme==0.3.3
myst-parser==0.18.1
sphinxcontrib-bibtex==2.5.0
autodocsumm==0.2.9
sphinx-copybutton
sphinx-panels

# basic python
numpy
matplotlib
warp-lang
