# for building the docs
sphinx-book-theme==1.1.3
myst-parser
sphinxcontrib-bibtex
autodocsumm
sphinx-copybutton
sphinx_design
sphinxemoji

# basic python
numpy
matplotlib
warp-lang
# learning
gymnasium
